@media (min-width: 600px) {


    body {
        font-family: 'Kanit', sans-serif;
        background: #93B1A6;
    }

    #org {
        display: flex;
        padding: 10px;
        margin: 10px;
        margin-top: 60px;
        background: rgb(92, 131, 116);
        border-radius: 20px;
        box-shadow: 0px 0px 40px 5px black;
    }

    img {
        margin-left:50px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 250px;
        height: auto;
        border-radius: 50%;
        border: 3px solid rgb(24, 61, 61);
        box-shadow: 0px 0px 50px -5px rgb(255, 255, 255);
    }

    .txtbox {
        display: flexbox;
        margin-left: 50px;
    }

    h1 {
        margin: 0px;
        margin-top: 30px;
        padding: 0px;
        text-align: center;
    }

    h3 {
        margin: 0px;
        padding: 0px;
        color: #163636;
        text-align: center;
    }

    span {
        margin-left: 20px;
    }

    hr {
        border: 2px solid rgba(0, 0, 0, 0.262);
    }

    .s1 {
        transition-property: all;
        transition-duration: 500ms;
    }

    .s1:hover {
        transform: scale(1.1);
        text-shadow: 0px 0px 40px white;
    }

    #wish {
        text-align: left;
        text-shadow: 0px 0px 30px rgb(255, 255, 255);
        font-size: 23px;
    }
}

@media (max-width: 599px) {
    body {
        font-family: 'Kanit', sans-serif;
        background: #93B1A6;
    }

    #org {
        padding: 10px;
        margin: 15px 10px;
        background: rgb(92, 131, 116);
        border-radius: 20px;
        box-shadow: 0px 0px 40px 5px black;
    }

    img {
        display: block;
        margin: 20px auto;
        width: 200px;
        height: auto;
        border-radius: 50%;
        border: 3px solid rgb(24, 61, 61);
        box-shadow: 0px 0px 50px -5px rgb(255, 255, 255);
    }

    .txtbox {
        display: flexbox;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        margin: 0px;
        margin-top: 30px;
        padding: 0px;
        text-align: center;
    }

    h3 {
        margin: 0px;
        padding: 0px;
        color: #163636;
        text-align: center;
    }

    span {
        margin-left: 20px;
    }

    hr {
        border: 2px solid rgba(0, 0, 0, 0.262);
    }

    .s1 {
        transition-property: all;
        transition-duration: 500ms;
    }

    .s1:hover {
        transform: scale(1.1);
        text-shadow: 0px 0px 40px white;
    }

    #wish {
        text-align: left;
        text-shadow: 0px 0px 30px rgb(255, 255, 255);
        font-size: 23px;
    }
}